<!DOCTYPE html>
<html>
    <head>
        <title>Smartphone-Smartprice</title>
        <link href="/static/bootstrap-5.0.1-dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/main.css" rel="stylesheet">
        <link rel="icon" type="image/png" href="/static/img/favicon.png" />
    </head>
    <nav class="navbar navbar-user">
        {% if user.is_authenticated %}
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://aws-bucket-addie.s3-ap-northeast-1.amazonaws.com/smartphone/user.png" class="user-icon" id="login-user">
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="">Profile</a></li>
                    <li><a class="dropdown-item" href="">Post a sale</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Log out</a></li>
                </ul>
            </div>
            <div>{{ user }}</div>
        {% else %}
            <div><a class="text-center" href="{% url 'login' %}"><img src="/static/img/user.png" class="user-icon" id="logout-user"></a></div>
        {% endif %}
    </nav>
    <nav class="navbar navbar-banner">
        <div class="container banner">
            <a href="/smartphone-smartprice/home" class="link-reset">
                <img src="https://aws-bucket-addie.s3-ap-northeast-1.amazonaws.com/smartphone/banner.png" border="0" height=180px width=auto>
            </a>
        </div>
    </nav>
    <body>
        {% block content %}
        {% endblock  %}
    </body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="/static/bootstrap-5.0.1-dist/js/bootstrap.min.js"></script>
</html>