<!DOCTYPE html>
<html>
    <head>
        <title>Sale-phone</title>
        <link href="/static/bootstrap-5.0.1-dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/detail.css" rel="stylesheet">
        <link rel="icon" type="image/png" href="https://aws-bucket-addie.s3-ap-northeast-1.amazonaws.com/smartphone/favicon.png" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap" rel="stylesheet">
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>
    <nav class="navbar navbar-user">
        {% if user.is_authenticated %}
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://aws-bucket-addie.s3-ap-northeast-1.amazonaws.com/smartphone/user.png" class="user-icon" id="login-user">
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/profile">會員中心</a></li>
                    <li><a class="dropdown-item" href="/sale">手機上架</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}">登出</a></li>
                </ul>
            </div>
            <div id=username class="text-center">{{ user }}</div>
        {% else %}
            <div><a class="text-center" href="{% url 'login' %}"><img src="https://aws-bucket-addie.s3-ap-northeast-1.amazonaws.com/smartphone/user.png" class="user-icon" id="logout-user"></a></div>
        {% endif %}
    </nav>
    <nav class="navbar navbar-banner">
        <div class="container banner">
            <a href="/home" class="link-reset">
                <img src="https://aws-bucket-addie.s3-ap-northeast-1.amazonaws.com/smartphone/banner.png" border="0" height=150px width=auto>
            </a>
        </div>
    </nav>
    <body>
        <div id=phone-title class="d-flex flex-column">
        </div>
        <div id=phone-table-div class="float-start board">
            <div class="word-div">
                <h4>手機情報</h4>
            </div>
            <hr>
            <div class="float-start">
                <table id=phone-table class="products">
                    <thead>
                        <tr class="row my-border-bottom">
                            <th class="col text-center">價格</th>
                            <th class="col-5 text-center">配件</th>
                            <th class="col text-center">來源</th>
                            <th class="col text-center">建立日期</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody> 
                </table>
            </div>
        </div>
        <div class="graphs float-end">

            <div id=phone-graph-div class="board graph">
                <div class="word-div">
                    <h4>歷史價格圖表</h4>
                </div>
                <hr>
                <div id=phone-graph class=""></div>
            </div>

            <div id=storage-graph-div class="board graph">
                <div class="word-div">
                    <h4>不同容量歷史價格圖表</h4>
                </div>
                <hr>
                <div id=storage-graph class="">
                    <div id=storage-link class="links"></div>
                </div>
            </div>

        </div>
        <div id="comments-word" class="word d-flex flex-column justify-content-center align-items-center clear-float">
            <!-- <h3 class="">怕踩雷嗎？看用過的人怎麼說</h3> -->
        </div>
        <div id=comments-div class="clear-float">
            <!-- <h4>用戶回饋</h4> -->
            <div id=comments-graph class="clear-float text-center board">
            </div>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="/static/bootstrap-5.0.1-dist/js/bootstrap.min.js"></script>
    <script src="/static/js/sorttable.js"></script>
    <script src="/static/js/detail.js"></script>
</html>