{% extends 'base.html' %}

{% block content %}
<link href="/static/css/profile.css" rel="stylesheet">
<body>
  <div class="main-form container">
    <nav class="row">
      <a href="/smartphone-smartprice/profile" class="current link-reset col text-center">會員資料</a>
    </nav>
    <div class="container text-center" id="profile">
    </div>
    <hr>
    <div class="container text-center" id="sale-post">
      <h6>你上架的手機</h6>
    </div>
  </div>
</body>
<script src="/static/js/profile.js"></script>
<script>
  var csrf_token = '{{ csrf_token }}';
</script>
{% endblock  %}
