{% extends 'base.html' %}

{% block content %}
<body>
  <div class="main-form">
    <nav class="row">
      <a href="/smartphone-smartprice/login" class="current link-reset col text-center">Log in</a>
      <a href="/smartphone-smartprice/signup" class="link-reset col text-center">Sign up</a>
    </nav>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form }}
        <div class="btn-container">
          <input class="btn border-pilled submit" type="submit" value="Log in" />
        </div>
    </form>
  </div>
</body>

{% endblock  %}