{% extends 'base.html' %}

{% block content %}

<div class="main-form">
  <nav class="row">
    <a href="/smartphone-smartprice/login" class="current link-reset col text-center">登入</a>
    <a href="/smartphone-smartprice/signup" class="link-reset col text-center">註冊</a>
  </nav>
  <form action="" method="POST">
      {% csrf_token %}
      {{ form }}
      <div class="btn-container">
        <input class="btn border-pilled submit" type="submit" value="登入" />
      </div>
  </form>
</div>

{% endblock  %}