/* header */

.navbar {
  background-color: #364F7D;/* 'https://aws-bucket-addie.s3-ap-northeast-1.amazonaws.com/smartphone/smartphones.jpeg' */
  height: 180px;
  margin: 0;
  padding: 0;
}

.navbar .container {
  background-color: #364F7D;
  height: 180px;
  margin: 0;
  padding: 0;
}

.navbar-nav li{
  color: #fff;
}

.user-icon {
  height: 48px;
  border-radius: 50%;
}

#login-user {
  background-color:aquamarine;
}

#logout-user {
  background-color:rgb(255, 128, 111);
}

.dropdown-toggle::after {
  display: none;
}

header h1 {
  font-size: 48px;
  color: #364F7D;
  margin-left: 4%;
  padding-top: 26px;
}

header h3 {
  font-size: 24px;
  color: #364F7D;
  margin-left: 4%;
  margin-top: 16px;
}

body {
  background-color: beige;
}

h2 {
  margin-top: 26px;
  margin-bottom: 26px;
  margin-left: 5%;
}

.buttons {
  margin-top: 36px;
}

.products-by-brand {
  margin-top: 6%; 
  margin-bottom: 3%; 
  }

.border-pilled {
  border: #2b506e 3px solid;
  border-radius: 25px;
  margin-right: 1px;
}

.my-border-bottom {
  width: 100%;
  margin-bottom: 26px;
  border-bottom: #2b506e 1px solid;
}

.last-row {
  padding-bottom: 26px;
}

.link-reset {
  text-decoration: none;
  color: #212529;
}

#phone-table {
  width: 45%;
  margin-top: 26px;
  margin-right: 1%;
  margin-left: 4%;
}

.products {
  height: 800px;
  overflow: scroll;
}

.graph {
  margin-top: 26px;
  margin-bottom: 26px;
  margin-right: 4%;
  margin-left: 1%;
}

#storage-link {
  margin-top: 26px;
  margin-bottom: 26px;
}

.links a:hover {
  font-size: 20px;
}
