/* header */

.navbar-user {
  background-color: beige;
  font-size: 20px;
  margin: 0;
  margin-right: 5%;
  padding: 0;
  justify-content:flex-end;
  height: 36px;
  z-index: 1;
  font-family: 'Nunito', sans-serif;
}

/* #username {
  display: table;
  vertical-align: top;
} */

.navbar-banner {
  margin: 0;
  padding: 0;
}

.navbar .banner {
  background-color: #364F7D;
  /* background-image: url('https://aws-bucket-addie.s3-ap-northeast-1.amazonaws.com/smartphone/smartphones.jpeg');
  background-position: 402px;
  background-repeat: no-repeat;
  background-size: 80% auto; */
  height: 150px;
  width: 100%;
  max-width: 2000px;
  margin: 0;
  padding: 0;
  justify-content:flex-start;
}

.navbar-nav li{
  color: #FFF;
}

.user-icon {
  height: 52px;
  border-radius: 50%;
}

#login-user {
  background-color:#FECC33;
}

#logout-user {
  background-color:#888;
}

.dropdown-toggle::after {
  display: none;
}
/* body */

body {
  background-color: beige;
  font-family: 'Nunito', sans-serif;
}

h2 {
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 5%;
}

.buttons {
  margin-top: 36px;
}

.products-by-brand {
  margin-top: 6%; 
  margin-bottom: 3%; 
  }

.border-pilled {
  border: #2b506e 3px solid;
  border-radius: 25px;
  margin-right: 1px;
}

.last-row {
  padding-bottom: 26px;
}

.link-reset {
  text-decoration: none;
  color: #212529;
}

/* icon */

.icon {
  height: 1.5em;
  display: inline-block;
  /* background-color: #84A4DC; */
}


/* board */
.board {
  background-color: #FFF;
  border-radius: 15px; 
}

hr {
  margin: 0;
}

.word-div {
  margin-left: 1%;
}

h4 {
  height: 1.5em;
  vertical-align: middle;
  display: table-cell;
}

/* table */

#phone-table-div {
  width: 45%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

#phone-table {
  height: 1000px;
  overflow: scroll;
}

thead {
  font-size: 20px
}

thead tr th:hover {
  cursor: pointer; 
}

tbody tr:hover { 
  background: rgba(245,245,220,0.5);
  cursor: pointer; 
}

tbody tr {
  color: #333;
}

.my-border-bottom {
  width: 90%;
  margin: auto;
  margin-bottom: 26px;
  border-bottom: #2b506e 1px solid;
}


/* graph */

.graphs {
  width: 45%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.graph {
  width: 648px;
  margin: auto;
  margin-bottom: 26px;
}

/* #storage-graph {
  position: absolute;
  bottom: 0; 
} */


#storage-link {
  padding-bottom: 26px;
}

.links a:hover {
  background: rgba(245,245,220,0.5);
}

/* word */
.word {
  height: 200px;
}

/* comments */
.clear-float {
  clear:both;
}

#comments-div {
  width: 60%;
  margin: auto;
  margin-bottom: 26px;
}

#comments-div h4{
  margin-left: 5%;
  margin-top: 5%;
}

#comments-graph{
  width:648px;
  margin: auto;
}

.comments {
  width: 90%;
  margin: auto;
  padding-bottom: 20px;
}

ul {
  height: 200px;
  overflow: scroll;
}

ul li {
  margin-left: 10px;
  word-break: break-all;
  color: #777;
}
