.header {
  background-color: #2b506e;
  background-image: url('https://aws-bucket-addie.s3-ap-northeast-1.amazonaws.com/smartphone/smartphones.jpeg');
  background-size: 800px auto;
  background-repeat: no-repeat;
  background-position: right;
  height: 180px;
}


h1 {
  font-size: 48px;
  color: #fff;
  margin-left: 4%;
  padding-top: 26px;
}

h3 {
  font-size: 24px;
  color: #fff;
  margin-left: 4%;
  margin-top: 16px;
}

body {
  background-color: beige;
}

.buttons {
  margin-top: 36px;
}

.products-by-brand {
  margin-top: 6%; 
  margin-bottom: 3%; 
  }

.border-pilled {
  border: #2b506e 3px solid;
  border-radius: 25px;
  margin-right: 1px;
}

.my-border-bottom {
  width: 70%;
  margin: auto;
  margin-bottom: 26px;
  border-bottom: #2b506e 1px solid;
}

.last-row {
  padding-bottom: 26px;
}

.link-reset {
  text-decoration: none;
  color: #212529;
}
